@model ImageProject.Models.UserImage

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>UserImage</h4>
<form method="post" asp-action="Edit" asp-controller="User">
    <hr />
    <div class="row">
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-md-2">
                @Html.Raw($"<img style='width:160px; height:160px;' src=\"data:image/jpeg;base64," + Convert.ToBase64String(Model.Image) + "\" />")
            </div>
            <div class="col-md-4">
                <input name="Id" type="hidden" asp-for="@Model.Id" />
                <div class="input-group">
                    <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="(degree, minute, second)">Latitude</span>
                    <input min="-90" max="90" name="LatitudeDegree" class="form-control" asp-for="@Model.Coords.LatitudeDegree" />
                    <input min="0" max="59" name="LatitudeMinute" class="form-control" asp-for="@Model.Coords.LatitudeMinute" />
                    <input min="0" max="59" name="LatitudeSecond" class="form-control" asp-for="@Model.Coords.LatitudeSecond" />
                </div><br />
                <div class="input-group">
                    <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="(degree, minute, second)">Longitude</span>
                    <input min="-180" max="180" name="LongitudeDegree" class="form-control" asp-for="@Model.Coords.LongitudeDegree" />
                    <input min="0" max="59" name="LongitudeMinute" class="form-control" asp-for="@Model.Coords.LongitudeMinute" />
                    <input min="0" max="59" name="LongitudeSecond" class="form-control" asp-for="@Model.Coords.LongitudeSecond" />
                </div><br />
                <div class="input-group">
                    <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="metres">Altitude</span>
                    <input name="Altitude" class="form-control" asp-for="@Model.Coords.Altitude" />
                </div>
            </div>
        </div>
        <hr />
        <button type="submit" class="btn btn-outline-dark bi bi-save">Save</button>
    </div>
</form>